/* Body background and placement */

body {
  background-image: url("Planets.png");
  text-align: center;
}


/*Used to ceneter the background image throughout the webpage*/

#page-wrap {
  display: inline-block;
  margin: 20% auto;
  text-align: center;
}

img {
  max-width: 100%;
}


/* text color */

h1, h2, p {
  color: #00FFFF;
}

h2 {
  ont-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 0.8em;
}

p {
  ont-family: 'Changa One', sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
  text-align: center;
  display: inline-block;
  margin: 20% auto;
  background-color: #FF0000;
}

button {
  text-align: center;
  margin: auto;
}

option {
  text-align: center;
  margin: auto;
}
